.Parent_div{
    /* height: 100vh; */
    background-image: linear-gradient(to right, #7F4625,#A77C4E);
    /* position: relative; */
}

.background_img{
    height: 100vh;
    width: 695px;
    background-image: url('../image/hero-01-free-img.jpg');
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    opacity: .25;
    z-index: 0;
}
