.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar_linktags{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    margin-top: 25px;  
}

.link_style{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

.link_style:hover{
    cursor: pointer;
    color: #D8C6B8;
    transition: 0.3s;
}

.img1{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-54%,10%);
    z-index: 1;
}